.piano-keys {
    position: relative;
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 16px;
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    text-transform: uppercase;
}

.piano-keys .piano-white-keys {
    display: flex;
}

.piano-keys .piano-black-keys {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 540px;
    left: 48px;
    z-index: 10;
    cursor: pointer;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#7b9483, #050705);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}

.piano-keys .key.hide span {
    display: none;
}